<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.tituloCH}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body class="fondo-ch">
    <h1 class="portada-ch flex">{{data.bienvenidaCH}}</h1>
    <form class="formu" action="{{ url_for('equiposChampionship')}}" method="POST">
        <div class="flex">
            <select class="opciones-ch" name="años" id="año">
                <option value=""> ELIJE TEMPORADA </option>
                <option value="championship2019"> Temporada 19</option>
                <option value="championship2020"> Temporada 20</option>
                <option value="championship2021"> Temporada 21</option>
                <option value="championship2022"> Temporada 22</option>
            </select>
        </div>
        <br><br><br><br>
        <div class="flex">
            <input class="boton-ch" type="submit" value="Buscar">
        </div>
    </form>
</body>
</html>