<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titulo2 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
</head>
<body class="fondo">
    <h1 class="portada flex" >{{ data.bienvenida }}</h1>
    <!-- <label class="año" for="año">Año:</label> -->
    <!-- <select name="años" id="año">
        <option value="-- Elije una opcion --">-- Elija un año --</option>
        <option value="" disabled>-----Primera Division-----</option>
        <option value="12-13">Primera Division 2012-2013</option>
        <option value="13-14">Primera Division 2013-2014</option>
        <option value="14-15">Primera Division 2014-2015</option>
        <option value="15-16">Primera Division 2015-2016</option>
        <option value="16-17">Primera Division 2016-2017</option>
        <option value="17-18">Primera Division 2017-2018</option>
        <option value="18-19">Primera Division 2018-2019</option>
        <option value="19-20">Primera Division 2019-2020</option>
        <option value="20-21">Primera Division 2020-2021</option>
        <option value="" disabled>-----Segunda Division-----</option>
        <option value="18-19">Segunda Division 2018-2019</option>
        <option value="19-20">Segunda Division 2019-2020</option>
        <option value="20-21">Segunda Division 2020-2021</option>

    </select> -->
    <form action="{{ url_for('resultados') }}" method="POST">
        <label class="Equipo1" for="Equipo 1">Equipo 1: </label>
        <select class="opciones" name="Equipos1" id="Equipo 1">
            <option value="elije equipo">-- Elija el equipo --</option>
            {% for equip in equips %}
            <option value="{{ equip }}">{{equip}}</option>
            {% endfor %}
        <!-- <option value="-- Elije una opcion --">{{equips[0]}}</option>
        <option value="-- Elije una opcion --">{{equips[1]}}</option> -->
        </select>
        <label class="Equipo2" for="Equipo 2">Equipo 2: </label>
        <select class="opciones" name="Equipos2" id="Equipo 2">
            <option value="elije equipo">-- Elija el equipo --</option>
            {% for equip in equips %}
            <option value="{{ equip }}">{{equip}}</option>
            {% endfor %}
        </select>
        <label class="año flex" for="año">AÑO</label>
        <form action="{{ url_for('equips') }}" method="POST">
            <div class="flex">
                <select class="opciones" name="años" id="año">
                    <option class="option value="-- Elije una opcion -->-- Elija un año --</option>
                    <option class="option" value="" disabled>-----Primera Division-----</option>
                    <option value="temporada12">Primera Division 2012-2013</option>
                    <option value="temporada13">Primera Division 2013-2014</option>
                    <option value="temporada14">Primera Division 2014-2015</option>
                    <option value="temporada15">Primera Division 2015-2016</option>
                    <option value="temporada16">Primera Division 2016-2017</option>
                    <option value="temporada17">Primera Division 2017-2018</option>
                    <option value="temporada18_1">Primera Division 2018-2019</option>
                    <option value="temporada19_1">Primera Division 2019-2020</option>
                    <!-- <option value="temporada20_1">Primera Division 2020-2021</option> -->
                    <option class="option" value="" disabled>-----Segunda Division-----</option>
                    <option value="temporada18_2">Segunda Division 2018-2019</option>
                    <option value="temporada19_2">Segunda Division 2019-2020</option>
                    <!-- <option value="temporada20_2">Segunda Division 2020-2021</option> -->
                </select>
            </div>
        <br><br><br><br><br><br><br>
        <div class="flex">
            <input class="btn" type="submit" value="Buscar" />
        </div>
</body>
</html>