<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.tituloLI1}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='LI.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body class="fondo-li">
    <h1 class="portada-li flex">{{data.bienvenidaLI1}}</h1>
    <br>
    <form action="{{ url_for('resultadosLigue1')}}" method="POST">
        <!-- <div class="flex">
            <select class="opciones-li" name="años" id="año">
                <option value=""> ELIJE TEMPORADA </option>
                <option value="ligue1_2018"> Temporada 18</option>
                <option value="ligue1_2019"> Temporada 19</option>
                <option value="ligue1_2020"> Temporada 20</option>
                <option value="ligue1_2021"> Temporada 21</option>
                <option value="ligue1_2022"> Temporada 22</option>
            </select>
        </div> -->
        <br><br><br><br>
        <div class="flex">
            <select class="opciones-li" name="Equipos1" id="Equipo 1">
                <option value="">Elije el equipo Local</option>
                {% for equipo in equipos %}
                <option value="{{ equipo }}">{{equipo}}</option>
                {% endfor %}
            </select>
            <select class="opciones-li" name="Equipos2" id="Equipo 2">
                <option value="">Elije el equipo Visitiante</option>
                {% for equipo in equipos %}
                <option value="{{ equipo }}">{{equipo}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="años" value="{{ request.form.get('años') }}">
        <br><br><br>
        <div class="flex">
            <input class="boton-li" type="submit" value="Buscar">
        </div>
    </form>
</body>
</html>