<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body class="fondo">
    <h1 class="portada flex">{{data.bienvenida}}</h1>
    <div class="button-container">
        <button class="button1" onclick="window.location.href='{{ url_for('bundesliga') }}'">Bundesliga</button>
        <button class="button2" onclick="window.location.href='{{ url_for('laliga') }}'">La Liga</button>
        <button class="button3" onclick="window.location.href='{{ url_for('ligue1') }}'">Ligue 1</button>
        <button class="button4" onclick="window.location.href='{{ url_for('premierLeague') }}'">Premier</button>
    </div>
    <div class="button-container">
        <button class="button5" onclick="window.location.href='{{ url_for('seriea') }}'">Serie A</button>
        <button class="button6" onclick="window.location.href='{{ url_for('championship') }}'">Championship</button>
        <button class="button7" onclick="window.location.href='{{ url_for('nba') }}'">NBA</button>
        <button class="button8" onclick="window.location.href='{{ url_for('nfl') }}'">NFL</button>
      </div>
</body>
</html>